:root {
  --background-color--one: #FFFFFF;
  --color-text--white: #FFFFFF;
  --background-color--two: #272727;
  --text-color__selection: #272727;
  --silver: #c0c0c0;
  --color-of-materials: #C2C2C2;
  --price-color: #EFC58B;
}


@font-face {
  font-family: 'Forum';
  src: url(../src/assets/fonts/Forum-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SegoeUI';
  src: url(../src/assets/fonts/ofont.ru_SegoeUI.ttf) format('truetype');
}
@font-face {
  font-family: 'Futura';
  src: url(../src/assets/fonts/Forum-Regular.ttf) format('truetype');
}


::selection {
  background-color: var(--silver);
  color: var(--text-color__selection)
}


html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
section {
  margin: 0rem 16.2rem;
}
a {
  text-decoration: none;
}

.light {
  flex: 2;
  background-color: var(--background-color--one);
}
.black {
  flex: 1;
  background-color: var(--background-color--two);
  height: 100rem;
  width: 50.2rem;
  position: fixed;
  z-index: 0;
  top:0;
  right: 0;
}
